<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4f8b60">
  <%= link_to 'Trees', '../index.html', class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="text-transform: capitalize;">
      <li class="nav-item dropdown">
       <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #0d492f;">
          <li><%= link_to 'oak', '/trees/oak.html',  class:'dropdown-item' %></li>
          <li><%= link_to 'alder', '/trees/alder.html',  class:'dropdown-item' %></li>
          <li><%= link_to 'beech', '/trees/beech.html' ,  class:'dropdown-item' %></li>
          <li><%= link_to 'rowan', '/trees/rowan.html' ,  class:'dropdown-item' %></li>
          <li><%= link_to 'lime', '/trees/lime.html' ,  class:'dropdown-item' %></li>
          <li><%= link_to 'spindle', '/trees/spindle.html' ,  class:'dropdown-item' %></li>
          <li><%= link_to 'eucalyptus', '/trees/eucalyptus.html' ,  class:'dropdown-item' %></li>
          <li><%= link_to 'scots-pine', '/trees/scots-pine.html' ,  class:'dropdown-item' %></li>
          <li><%= link_to 'sweet-chestnut', '/trees/sweet-chestnut.html', class:'dropdown-item' %></li>
          <li><%= link_to 'aspen', '/trees/aspen.html',  class:'dropdown-item' %></li>
          <div class="dropdown-divider"></div>
        </div>
    </ul>
  </div>
</nav>
